#index-featurebar{
    margin-top: -18px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #ddd;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    border-width: 1px;
}

#index-featurebar h2, #index-featurebar h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}

#doc_table tr td{
    vertical-align: middle;
}

#doc_table tr td:nth-child(n+3):nth-child(-n+4)  {
    text-align: center;
}